body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1950px;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

p {
  font-weight: lighter;
  margin: 0;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  -webkit-box-shadow: 7px 6px 9px -1px rgba(0, 0, 0, 0.267);
          box-shadow: 7px 6px 9px -1px rgba(0, 0, 0, 0.267);
  background-color: white;
  top: 0;
}

header i {
  position: absolute;
  left: 20px;
  top: 4%;
  font-size: large;
}

.location {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e0e0e0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.location__input {
  background-color: transparent;
  border: none;
  font-size: 1em;
  outline: none;
  margin-left: 20px;
}

input::-webkit-input-placeholder {
  color: #424242;
  font-weight: bold;
  font-size: 0.9rem;
}

input:-ms-input-placeholder {
  color: #424242;
  font-weight: bold;
  font-size: 0.9rem;
}

input::-ms-input-placeholder {
  color: #424242;
  font-weight: bold;
  font-size: 0.9rem;
}

input::placeholder {
  color: #424242;
  font-weight: bold;
  font-size: 0.9rem;
}

.explorer {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.explorer__title {
  font-weight: bold;
}

.explorer__text {
  font-weight: lighter;
  margin: 10px 0px 20px 0px;
}

.functioning {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 20px;
}

.functioning__container {
  padding-top: 20px;
}

@media screen and (min-width: 770px) {
  .functioning__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card {
    width: 90%;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 7px 6px 9px -1px rgba(0, 0, 0, 0.267);
          box-shadow: 7px 6px 9px -1px rgba(0, 0, 0, 0.267);
  background-color: #f4f4f4;
  margin: 15px 20px 15px 0px;
  padding: 5px 0px 5px 0px;
  border-radius: 1rem;
}

.card__number {
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
  padding: 0.25rem 0.25rem;
  height: 25px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -12px;
}

.card i {
  padding: 20px;
  color: #757575;
}

.card:hover i {
  color: #9356dc;
}

.restaurant {
  background-color: #f4f4f4;
  padding: 40px 20px;
}

.restaurant__container {
  margin-top: 20px;
  position: relative;
}

@media screen and (min-width: 770px) {
  .restaurant__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurant__card {
    width: 47%;
  }
}

.restaurant__card {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 7px 6px 9px -1px rgba(0, 0, 0, 0.267);
          box-shadow: 7px 6px 9px -1px rgba(0, 0, 0, 0.267);
  position: relative;
}

.text {
  padding: 10px;
  line-height: 25px;
}

.restaurant__img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 180px;
}

.card__new {
  position: absolute;
  text-align: center;
  top: 10px;
  right: 10px;
  background-color: #99e2d0;
  border-radius: 5%;
  color: #278870;
  font-weight: bold;
  padding: 5px;
}

.gradient__button {
  font-weight: 600;
  border-radius: 2rem;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: none;
  -webkit-box-shadow: 7px 6px 9px -1px rgba(0, 0, 0, 0.267);
          box-shadow: 7px 6px 9px -1px rgba(0, 0, 0, 0.267);
}

.gradient__button:hover {
  -webkit-box-shadow: 7px 6px 9px -1px #6e6e6e;
          box-shadow: 7px 6px 9px -1px #6e6e6e;
  opacity: 0.8;
}

/** remplissage coeur **/
.btn__like {
  position: relative;
  font-size: 25px;
  width: 10%;
}

.btn__like__heart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: white;
}

.heart-full {
  background: -webkit-linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn__like input {
  visibility: hidden;
  display: none;
}

input:checked ~ label .heart-empty {
  opacity: 0;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.heart-empty {
  opacity: 1;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.heart-empty:hover {
  opacity: 0;
}

.restaurant__card__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.menu .btn__like__heart {
  background-color: #f4f4f4;
}

/** Bouton commander **/
.order__button {
  font-weight: 600;
  border-radius: 2rem;
  padding: 12px 40px 12px 40px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border: none;
  font-size: 0.9em;
  -webkit-box-shadow: 7px 6px 9px -1px rgba(0, 0, 0, 0.267);
          box-shadow: 7px 6px 9px -1px rgba(0, 0, 0, 0.267);
}

.order__button:hover {
  -webkit-box-shadow: 7px 6px 9px -1px #6e6e6e;
          box-shadow: 7px 6px 9px -1px #6e6e6e;
  opacity: 0.8;
}

footer {
  background-color: #282828;
  color: white;
  padding: 20px;
}

.footer__title {
  font-family: "Shrikhand";
  font-weight: normal;
  color: white;
}

.footer__list {
  list-style: none;
  padding-left: 0;
}

.footer__list .footer__list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list i {
  margin-right: 25px;
  width: 1px;
}

.footer__list a {
  color: white;
  font-weight: lighter;
}

.footer__list li {
  margin-bottom: 8px;
}

/**
@keyframes loading-disparition {
  0% {
    backdrop-filter: blur(6px);
  }
  99% {
    backdrop-filter: blur(0px);
  }
}


.loading {
  z-index: 2;
  backdrop-filter: blur(6px);
  width: 100%;
  height: 100vh;
  position: fixed;
  animation: loading-disparition 3s forwards;
  @include flex(row, center, center);
  &__item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: blue;
    font-size: 25px;
    margin-left: 5px;
  }
}

**/
@-webkit-keyframes circle_rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes circle_rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes card-appearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes card-appearance {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes check-appearance {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

@keyframes check-appearance {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

.banner img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant {
  position: relative;
  top: -30px;
  background-color: #f4f4f4;
  border-radius: 30px 30px 0px 0px;
  padding: 40px 20px 20px 20px;
}

.restaurant__name {
  font-family: "Shrikhand";
}

.menu__description {
  margin-top: 40px;
}

.menu__description__card {
  margin-top: 20px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 7px 6px 9px -1px rgba(0, 0, 0, 0.267);
          box-shadow: 7px 6px 9px -1px rgba(0, 0, 0, 0.267);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  overflow: hidden;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .menu__description__card {
    width: 320px;
  }
}

.title h2 {
  font-weight: lighter;
  font-size: 1.1em;
  border-bottom: 3px solid #99e2d0;
  width: 40px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.description__left {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description h3 {
  font-size: 1.1em;
  font-weight: 400;
}

.description p {
  font-weight: 300;
  font-size: 0.9em;
}

.price {
  font-weight: bold;
  padding: 20px 10px 10px 0px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.order {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/** ANIMATIONS CHECKBOX **/
.checkbox {
  background-color: #99e2d0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 0;
}

.checkbox__circle {
  font-size: 20px;
  color: white;
  background-color: #99e2d0;
}

.menu__description__card:hover .checkbox {
  -webkit-animation: check-appearance 800ms both;
          animation: check-appearance 800ms both;
}

.menu__description__card:hover .checkbox__circle {
  -webkit-animation: circle_rotation 500ms;
          animation: circle_rotation 500ms;
}

.appearance1 {
  -webkit-animation: card-appearance 500ms backwards;
          animation: card-appearance 500ms backwards;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.appearance2 {
  -webkit-animation: card-appearance 500ms backwards;
          animation: card-appearance 500ms backwards;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.appearance3 {
  -webkit-animation: card-appearance 500ms backwards;
          animation: card-appearance 500ms backwards;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

/**

#checkbox__input {
  visibility: hidden;
  display: none;
}

input:checked ~ label #checkbox__input {
  animation: check-appearance;
}
**/
/*# sourceMappingURL=style.css.map */