header {
  width: 100%;
  @include flex(row, center, center);
  padding-top: $small-spacing;
  @include shadow;
  background-color: white;
  top: 0;
}

header i {
  position: absolute;
  left: $small-spacing;
  top: 4%;
  font-size: large;
}
