.explorer__btn {
  border-radius: 2rem;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  background: linear-gradient($pink, $purple);
  color: white;
  border: none;
  @include shadow;
  &:hover {
    @include btn-effect;
  }
}

/** remplissage coeur **/

.btn__like {
  position: relative;
  font-size: 25px;
  &__heart {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: white;
  }
}

.heart-full {
  background: -webkit-linear-gradient($pink, $purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heart-empty {
  transition-duration: 600ms;
  &:hover {
    opacity: 0%;
  }
}
