.gradient__button {
  font-weight: 600;
  border-radius: 2rem;
  padding: 12px 20px 12px 20px;
  cursor: pointer;
  background: linear-gradient($pink, $purple);
  color: white;
  border: none;
  @include shadow;
  &:hover {
    @include btn-effect;
  }
}

/** remplissage coeur **/

.btn__like {
  font-size: 25px;
  width: 10%;
  &__heart {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: white;
  }
}

.heart-full {
  background: -webkit-linear-gradient($pink, $purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn__like input {
  visibility: hidden;
  display: none;
}

input:checked ~ label .heart-empty {
  opacity: 0;
  transition-duration: 400ms;
}

.heart-empty {
  background: $grey;
  opacity: 1;
  transition-duration: 500ms;
  &:hover {
    opacity: 0;
  }
}

.restaurant__card__caption {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu .btn__like__heart {
  background-color: $grey;
}

/** Bouton commander **/

.order__button {
  font-weight: 600;
  border-radius: 2rem;
  padding: 12px 40px 12px 40px;
  cursor: pointer;
  background: linear-gradient($pink, $purple);
  color: white;
  border: none;
  font-size: 0.9em;
  @include shadow;
  &:hover {
    @include btn-effect;
  }
}

/** COEUR MENUS **/

.btn__like--menu {
  font-size: 25px;
  width: 10%;
  position: relative;
  top: 15px;
  & input {
    visibility: hidden;
    display: none;
  }
}
