body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1950px;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4 {
  margin: 0px;
}

p {
  font-weight: lighter;
  margin: 0;
}
