.location {
  width: 100%;
  @include center-row;
  background-color: darken($grey, 10%);
  color: darken($grey, 70%);
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;
  &__input {
    background-color: transparent;
    border: none;
    font-size: 1em;
    text-align: center;
    font: bold;
  }
}

.location > i {
  margin-right: 10px;
}

.explorer {
  background-color: $grey;
  @include center-column;
  padding-top: $small-spacing;
  padding-bottom: $small-spacing;
  &__title {
    font-weight: bold;
  }
}

.restaurant__img {
  overflow: hidden;
  object-fit: cover;
}
