.banner img {
  width: 100%;
  object-fit: cover;
}

.restaurant {
  position: relative;
  top: -30px;
  background-color: $grey;
  border-radius: 30px 30px 0px 0px;
  padding: $medium-spacing $small-spacing $small-spacing $small-spacing;

  &__name {
    font-family: "Shrikhand";
  }
}

.menu__description {
  margin-top: $medium-spacing;
  &__card {
    margin-top: $small-spacing;
    background-color: white;
    border-radius: 15px;
    @include shadow;
    @include flex(row, space-between, center);
    height: 80px;
    overflow: hidden;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    justify-content: space-between;
  }
  .menu__description__card {
    width: 30vw;
  }
}

.title h2 {
  font-weight: lighter;
  font-size: 1.1em;
  border-bottom: 3px solid $mint;
  width: 40px;
}

.description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &__left {
    width: calc(100% - 90px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
  }

  & h3 {
    font-size: 1.1em;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & p {
    font-weight: 300;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.price {
  font-weight: bold;
  margin: 0 10px 10px 0;
  align-self: flex-end;
  width: 50px;
  text-align: right;
}

.order {
  margin-top: $medium-spacing;
  display: flex;
  justify-content: center;
}

/** ANIMATIONS CHECKBOX **/

.checkbox {
  height: 100%;
  @include flex(row, center, center);
  background-color: $mint;
  margin: -16px -120px -16px 16px;
  transition-duration: 0.5s;
  width: 80px;
  &__circle {
    font-size: 20px;
    color: white;
    background-color: $mint;
  }
}
.menu__description__card:hover .checkbox {
  margin-right: -10px;
}

.menu__description__card:hover .checkbox__circle {
  animation: circle_rotation 700ms;
  animation-delay: 200ms;
}

.appearance1 {
  animation: card-appearance 500ms backwards;
  animation-delay: 500ms;
}

.appearance2 {
  animation: card-appearance 500ms backwards;
  animation-delay: 800ms;
}

.appearance3 {
  animation: card-appearance 500ms backwards;
  animation-delay: 1000ms;
}

/**

#checkbox__input {
  visibility: hidden;
  display: none;
}

input:checked ~ label #checkbox__input {
  animation: check-appearance;
}
**/
