.banner img {
  width: 100%;
  object-fit: cover;
}

.restaurant {
  position: relative;
  top: -30px;
  background-color: $grey;
  border-radius: 30px 30px 0px 0px;
  padding: $medium-spacing $small-spacing $small-spacing $small-spacing;

  &__name {
    font-family: "Shrikhand";
  }
}

.menu__description {
  margin-top: $medium-spacing;
  &__card {
    margin-top: $small-spacing;
    background-color: white;
    border-radius: 15px;
    @include shadow;
    @include flex(row, space-between, center);
    height: 80px;
    overflow: hidden;
    cursor: pointer;
  }
}

@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    justify-content: space-around;
  }
  .menu__description__card {
    width: 320px;
  }
}

.title h2 {
  font-weight: lighter;
  font-size: 1.1em;
  border-bottom: 3px solid $mint;
  width: 40px;
}

.description {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &__left {
    padding: 15px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & h3 {
    font-size: 1.1em;
    font-weight: 400;
  }

  & p {
    font-weight: 300;
    font-size: 0.9em;
  }
}

.price {
  font-weight: bold;
  padding: 20px 10px 10px 0px;
  align-self: flex-end;
}

.order {
  margin-top: $medium-spacing;
  display: flex;
  justify-content: center;
}

/** ANIMATIONS CHECKBOX **/

.checkbox {
  background-color: $mint;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 0;

  &__circle {
    font-size: 20px;
    color: white;
    background-color: $mint;
  }
}
.menu__description__card:hover .checkbox {
  animation: check-appearance 800ms both;
}

.menu__description__card:hover .checkbox__circle {
  animation: circle_rotation 500ms;
}

.appearance1 {
  animation: card-appearance 500ms backwards;
  animation-delay: 500ms;
}

.appearance2 {
  animation: card-appearance 500ms backwards;
  animation-delay: 800ms;
}

.appearance3 {
  animation: card-appearance 500ms backwards;
  animation-delay: 1000ms;
}

/**

#checkbox__input {
  visibility: hidden;
  display: none;
}

input:checked ~ label #checkbox__input {
  animation: check-appearance;
}
**/
